<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Page</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This website uses data from mapbox.com and darksky.net.</p>
        <img class="portrait" src="/img/img.jpg">
    </div>
    {{>footer}}
</body>
</html>